.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;

  }
  .the-fieldset {
    border: 1px solid lightgrey;
    padding: 10px;
  }
  .text-faded {
    color: #a6afb7;
   }
   input[type=number] {
    -moz-appearance: textfield;
   }
